<div class="row justify-content-center my-5">
  <div class="col-4 rounded border border-info" style="background-color: #d1f4fa;">
    <h4 class="modal-title text-center text-dark" id="registroUsuarioLabel"> <strong>Inicio de Sesion</strong></h4>
    <form  role="form">
      <div class="form-group has-success">
        <label class="control-label" for="inputEmail"> <strong> Correo Electronico</strong> </label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Ej: ejemplo@gmail.com">
      </div>
      <div class="form-group has-success">
        <label class="control-label" for="inputPassword"> <strong>Contraseña</strong> </label>
        <input type="Password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-info"> Iniciar Sesion </button>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-link text-info" data-toggle="modal" data-target="#registrarse"><strong>Registrarse</strong></button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="registrarse" tabindex="-1" role="dialog" aria-labelledby="registrarseLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #00796B;">
        <h5 class="modal-title" id="exampleModalCenterTitle">Tipo de Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #B2DFDB;">
        <q>¿Como desea Registrarse?</q><br>
        <strong>Usuario:</strong> Si deseas comprar reservar paquetes<br>
        <strong>Agencia:</strong> Si deseas Ofertar Paquetes
      </div>
      <div class="modal-footer" style="background-color: #FFFFFF;">
          <button type="button" [routerLink]="['/RegistroAgencia']"  data-dismiss="modal" class="btn text-dark">Agencia de Turismo</button>
          <button type="button" [routerLink]="['/RegistroTurista']"  data-dismiss="modal" class="btn text-dark">Usuario</button>
      </div>
    </div>
  </div>
</div>

